<div class="wrapper" >


<div id="snddesign">
  <div class="legend" >
    <div class="legend-title">
      <h1>Your start-up is not like everyone else's.  </h1>
      <div class="dots"> &nbsp;</div>
    </div>
    <div class="legend-text">
      Novotorium is a new concept in start-up engineering. We know that the resources you need to grow will be as unique as your idea. Whether you're ready for incubation or just getting started, we have space for you.
    </div>
  </div>
  <div class="container" >
    <div class="section-title" >
      <h2>OUR PROGRAMS </h2>
    </div>
    <div class="content" >
      <div id="incubate" class="program-option selected-option">
        <div class="arrow" id="incubate_arrow" ></div>
        <a href="/">Incubate</a>
        <p> Idea? Check. Proof of concept? Check. Product?<br>
            Check. Revenue? Not so much. <a href="/">// Apply</a>
        </p>
      </div>
      <script type="text/javascript" >
          jQuery('#incubate').mouseover(function() {
            jQuery('#accelerate').removeClass('selected-option');
            jQuery('#co-work').removeClass('selected-option');
            jQuery('#incubate').addClass('selected-option');
            jQuery('#accelerate_arrow').hide();
            jQuery('#co-work_arrow').hide();
            jQuery('#incubate_arrow').show();
            jQuery('#accelerate-option').hide();
            jQuery('#co-work-option').hide();
            jQuery('#incubate-option').show();
          });
      </script>    

      <div class="line-break" > &nbsp;</div>
      <div id="accelerate" class="program-option">
        <div class="hidden arrow" id="accelerate_arrow" ></div>
        <a href="/">Accelerate</a>
        <p> You know you need some help, strategic or otherwise.<br>
            Your're just not sure which or how much.  <a href="/">// Apply</a>
        </p>
      </div>
      <script type="text/javascript" >
          jQuery('#accelerate').mouseover(function() {
            jQuery('#incubate').removeClass('selected-option');
            jQuery('#co-work').removeClass('selected-option');
            jQuery('#accelerate').addClass('selected-option');
            jQuery('#co-work_arrow').hide();
            jQuery('#incubate_arrow').hide();
            jQuery('#accelerate_arrow').show();
            jQuery('#incubate-option').hide();
            jQuery('#co-work-option').hide();
            jQuery('#accelerate-option').show();
          });
      </script>    
      <div class="line-break" > &nbsp;</div>
      <div id="co-work" class="program-option">
        <div class="hidden arrow" id="co-work_arrow" ></div>
        <a href="/">Co-work</a>
        <p> What you really need is a change of scenery and a<br>
            little commraderie with people who get it.<a href="/">// Register</a>
        </p>
      </div>
      <script type="text/javascript" >
          jQuery('#co-work').mouseover(function() {
            jQuery('#incubate').removeClass('selected-option');
            jQuery('#accelerate').removeClass('selected-option');
            jQuery('#co-work').addClass('selected-option');
            jQuery('#incubate_arrow').hide();
            jQuery('#accelerate_arrow').hide();
            jQuery('#co-work_arrow').show();
            jQuery('#accelerate-option').hide();
            jQuery('#incubate-option').hide();
            jQuery('#co-work-option').show();
          });
      </script>    
    </div>

  </div>
  <div class="container-separator" >&nbsp;
  </div>
  <div id="incubate-option" class="container option-explanation" >
    <img src="/assets/server/wp-content/uploads/2011/10/incubate_image.png" alt="Incubate_image">
    
    <div class="title-container">
        <a class="orange-button float_right" href="/">Apply Now ></a>
      <div class="title" >Incubate
      </div>
    </div>
      <div class="dots"> &nbsp;</div>
      <p class="statement"> <span class="blue">WHAT</span> The whole package: workspace, experts, and capital.</p>
      <p class="statement"> <span class="blue">WHEN</span> Company-specific. There are no rolling program dates.</p>
      <p class="statement"> <span class="blue">HOW</span> This program is free, but does require application.</p>
      <p class="statement"> Incubation is the entire soup-to-nuts program offered at novotorium. There are no application deadlines or fixed start/end dates. Each company accepted to this program receives.. <a href="/">// Program Details</a></p>
  </div>
  <div id="accelerate-option" class="hidden container option-explanation" >
    <%= image_tag 'incubate_image.png' %>
    
    <div class="title-container">
        <%= link_to "Apply Now >", root_path, :class => "orange-button float_right" %>
      <div class="title" >Accelerate
      </div>
    </div>
      <div class="dots"> &nbsp;</div>
      <p class="statement"> <span class="blue">WHAT</span> The whole package: workspace, experts, and capital.</p>
      <p class="statement"> <span class="blue">WHEN</span> Company-specific. There are no rolling program dates.</p>
      <p class="statement"> <span class="blue">HOW</span> This program is free, but does require application.</p>
      <p class="statement"> Incubation is the entire soup-to-nuts program offered at novotorium. There are no application deadlines or fixed start/end dates. Each company accepted to this program receives.. <%= link_to "// Program Details", root_path %></p>
  </div>
  <div id="co-work-option" class="hidden container option-explanation" >
    <%= image_tag 'incubate_image.png' %>
    
    <div class="title-container">
        <%= link_to "Apply Now >", root_path, :class => "orange-button float_right" %>
      <div class="title" >Co-work
      </div>
    </div>
      <div class="dots"> &nbsp;</div>
      <p class="statement"> <span class="blue">WHAT</span> The whole package: workspace, experts, and capital.</p>
      <p class="statement"> <span class="blue">WHEN</span> Company-specific. There are no rolling program dates.</p>
      <p class="statement"> <span class="blue">HOW</span> This program is free, but does require application.</p>
      <p class="statement"> Incubation is the entire soup-to-nuts program offered at novotorium. There are no application deadlines or fixed start/end dates. Each company accepted to this program receives.. <%= link_to "// Program Details", root_path %></p>
  </div>
</div>




</div>
